@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: fit-content;
    
    border-radius: 20px;
    background-color: #000000;
}

.top{
    height: 60px;
    background-color: #a8a8a8;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: #424242;
    color: whitesmoke;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}

.button{
    width: 35px;
    height: 35px;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5%;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.description{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.icon
{
    margin-bottom: -8%;
}


@media (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: center;
      height: 10%;
        width: min-content;
      margin-bottom: 5%;
    }
   
   
}